"*":
  core:
    disabledPackages: [
      "metrics"
    ]
    projectHome: "/Users/vincent/code"
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "7a040dd4-c14a-4673-9e3d-fb756b221ff7"
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
