"*":
  Zen:
    showWordCount: "Right"
    softWrap: true
  core:
    disabledPackages: [
      "metrics"
    ]
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "b8c8305a-9582-d729-d2bf-0343f2c52f8b"
  "linter-ui-default":
    panelHeight: 96
  "nord-atom-ui":
    darkerFormFocusEffect: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  wordcount: {}
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".html.ruby.text":
  editor:
    autoIndent: true
".rails.ruby.source":
  editor:
    autoIndent: true
".ruby.source":
  editor:
    autoIndent: true
".slim.text":
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    ignoreWhitespaceOnlyLines: false
    removeTrailingWhitespace: true
